<div class="container">
  <h1>Adicione uma nova entrada</h1>


  <form (ngSubmit)="onSubmit()" *ngIf="!loading">
    
    <!-- value -->
    <div id="entry-value-group" class="form-group">
      <label for="entry-value">Quanto você gastou?</label>
      <input type="text" class="form-control" id="entry-value" 
        required
        [(ngModel)]="model.value" name="value">
    </div>

    <!-- description -->
    <div id="description-group" class="form-group">
      <label for="description">Adicione uma descrição</label>
      <input type="text" class="form-control" id="description"
        [(ngModel)]="model.description" name="description">
    </div>

    <button type="submit" class="btn btn-success">Pronto!</button>
  </form>

  <div *ngIf="loading && (!success && !error)">
    Enviando...
  </div>

  <div *ngIf="success || error">
    <div *ngIf="success; else errorBlock">
      Entrada salva com sucesso!
    </div>
    <ng-template #errorBlock>
      Ops, algo deu errado :(
    </ng-template>
  </div>
  
</div>