<div class="container" *ngIf="entry$ | async; let entry; else error;">
  <h1>Adicione uma nova entrada</h1>

  <form (ngSubmit)="onSubmit()">
    
    <!-- value -->
    <div *ngIf="entry == 'Value'" id="entry-value-group">
      <label for="entry-value">Quanto você gastou?</label>
      <input type="text" class="form-control" id="entry-value" 
        required
        [(ngModel)]="model.value" name="value">

      <button type="button" class="btn btn-secundary" (click)="goToDescription()">Next</button>
    </div>

    <!-- description -->
    <div *ngIf="entry == 'Description'" id="description-group" class="form-group">
      <label for="description">Adicione uma descrição</label>
      <input type="text" class="form-control" id="description"
        [(ngModel)]="model.description" name="description">

      <button type="button" class="btn btn-secundary" (click)="goToDateTime()">Next</button>
    </div>

    <!-- date -->
    <div *ngIf="entry == 'DateTime'" class="row">
        <div class='col-sm-6'>
          <div class="form-group">
              <label for="description">Data:</label>
              <div class="input-group date my-6" [ngClass]="{'input-group-focus':focus===true}">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                    name="date" [(ngModel)]="model.date" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus=true" (blur)="focus=false" />
                  <div class="input-group-append">
                    <span class="glyphicon glyphicon-calendar input-group-text">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                  </div>
              </div>
          </div>
        </div>    

        <!-- time -->
        <div class='col-sm-6' style="margin-top: -.6rem;">
          <div class="form-group">
            <ngb-timepicker id="time" name="time" [(ngModel)]="model.time" [meridian]="meridian"></ngb-timepicker>
          </div>
        </div>
    </div>
    <br>

    <button *ngIf="entry == 'DateTime'" type="submit" class="btn btn-success">Pronto!</button>
  </form>

  <div *ngIf="entry == 'Submiting'">
    Enviando...
  </div>

  <div *ngIf="entry == 'Success'">
    Entrada salva com sucesso!

    <button type="button" (click)="reload()">Adicionar outra entrada</button>
  </div>

  <div *ngIf="entry == 'Error'">
    Ops, algo deu errado :(

    <button type="button" (click)="reload()">Adicionar outra entrada</button>
  </div>
  
</div>

<ng-template #error>Error...</ng-template>